$primary: #0288D1;
$secondary: #cedce4;
$bg-hover: #e8ebed;
$title-color: #7b929e;
$white: #ffffff;

.offcanvas-template {
    position: relative;
    height: 100vh;
    width: 100%;
    min-width: 768px;
    overflow: hidden;

    .blackout {
        z-index: 1000;
    }

    .dock {
        z-index: 1001 !important;
        max-width: 100%;
    }
    .action-close{
        z-index: 1000;
        top:10px !important;
        border-radius: 15px;
        background: #FFF;
        i{
            font-size: 30px;
        }
    }
}

.canvas-drawer {
    .canvas-close {
        border: solid 1px #ababab;
        color: #565656;
        border-radius: 50%;
        height: 28px;
        width: 28px;
        display: inline-flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-right: 20px;
        transition: color .25s;

        i {
            font-size: 14px;
        }

        &:hover {
            border-color: #1abc9c;
            color: #1abc9c;
        }
    }

    .ivu-drawer-body {
        padding: 0 !important;
    }

    .canvas-form {
        height: 100%;
        width: 100%;

        .dataform {
            height: 100% !important;
        }
    }
}
.crud-log{
    *{
        font-size: 12px;
    }
}
.with-crud-log{
    height: 100%;
    overflow-y: auto;
    .dataform {
        height: auto;
        //overflow-y: hidden;
    }
    .crud-log{
        padding: 15px 20px 10px;
        .fieldset {
            padding: 10px 8px;
            margin-bottom: 20px;
            border: 1px solid silver;
            legend {
                margin-top: -20px;
                background-color: white;
                padding: 0 10px;
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 10px;
            }
        }
        .ivu-table-small td {
            height: 30px;
        }
    }
}
.spin-icon-load{
    animation: ani-spin 1s linear infinite;
}
@keyframes ani-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
}
