$primary: #0288D1;
$secondary: #cedce4;
$bg-hover: #e8ebed;
$title-color: #7b929e;
$white: #ffffff;

.empty-template {
    position: relative;
    height: 100vh;
    width: 100%;
    min-width: 768px;
    overflow: hidden;
}

