$primary: #3B41C6;
$secondary: #cedce4;
$bg-hover: #e8ebed;
$title-color: #7b929e;
$white: #ffffff;

@import "./empty";
@import "./canvas";
@import "./list";
@import "./spa";
@import "./withSubCruds";
@import "./drawer";


.krud-header-right {
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding-left: 15px;
    position: relative;
}

.edit {
    border-left: solid 1px #dedede;
}

.krud-left {
    height: 66px;
    display: flex;
    align-items: center;

    .paper-header-nav {
        height: 100%;
        padding-left: 0 !important;

        .nav {
            height: 100%;
            display: flex;
            align-items: center;

            > div {
                display: flex;
                align-items: center;

                .color-box {
                    height: 40px;
                    width: 40px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    margin-right: 15px;

                    i {
                        font-size: 20px;
                    }
                }

                h3 {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 28px;
                    align-items: center;
                    color: #151b26;
                    display: flex;
                    flex: 0 1 auto;
                    min-width: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    margin-top: 6px;
                    text-transform: none;
                }
            }

            ul {
                margin: 0;
                padding: 0;
            }
        }

        a {
            height: 30px !important;
            font-size: 11px !important;
            font-weight: 600 !important;
            padding-bottom: 5px;
            margin-left: 0 !important;
            color: #848f99;
            text-transform: none;

            i {
                font-size: 14px;
            }

            &.active {
                color: $primary;
                margin-bottom: -1px;
            }

            &:hover {
                color: lighten($primary, 5%);
            }
        }
    }
}

.krud-nav {
    width: auto;

    ul {
        list-style: none;

        li {
            float: left;
            margin-right: 18px;

            a {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 12px;
                height: 50px;
                color: #535c68;
                display: flex;
                align-items: center;
                border-bottom: solid 2px transparent;
                margin-left: 7px;
                margin-right: 7px;
                margin-bottom: -1px;

                > i {
                    font-size: 18px;
                    margin-right: 7px;
                }

                > span {
                    margin-top: 1px;
                }

                &:hover {
                    color: $primary;
                }

                &.active {
                    color: $primary;
                    border-bottom: solid 2px $primary;
                }
            }

            &.has-sub {
                display: flex;
                flex-direction: column;
                border-right: solid 1px #dedede;
                position: relative;

                span {
                    color: $primary;
                    font-size: 11px;
                    height: 14px;
                }

                > div {
                    display: flex;

                    a {
                        font-size: 11px;
                        height: calc(100% - 14px);

                        &.active {
                            color: $primary;
                            border-bottom: solid 2px $primary;
                        }
                    }
                }
            }
        }
    }
}

.material {
    .crud-page {
        position: relative;

        &-header {
            background: #ffffff;
            box-shadow: rgb(221, 221, 221) 0px 1px 6px;
            z-index: 10 !important;
        }

        &-body {
            z-index: 9 !important;
            margin: 20px;
            height: calc(100% - 90px);
            display: flex;

            .dg-flex {
                flex: 1;
                max-width: 100%;
                overflow: hidden !important;

                .dg-body {
                    border-radius: 4px !important;
                    overflow: hidden;
                    box-shadow: rgba(221, 221, 221, 0.7) 0px 0px 8px 1px !important;
                }
                .dg-filter{
                    display: flex;
                    flex-direction: column;
                }


                .dg-filter-widget {
                    border-radius: 4px !important;
                    max-height: 100%;
                    overflow: hidden;
                    box-shadow: rgba(221, 221, 221, 0.7) 0px 0px 8px 1px !important;

                    width: 100%;
                    &-header {
                        background: #FAFAFA !important;
                    }
                    &-body{
                        max-height: calc(100% - 32px);
                        overflow-y: auto;

                        width: 100%;
                        padding-bottom: 50px;
                        .multiselect__content-wrapper {
                            position: relative;
                        }
                    }
                }

                .data-form {
                    margin-left: 20px;
                    background: #ffffff;
                    border-radius: 4px !important;
                    box-shadow: rgba(221, 221, 221, 0.7) 0px 0px 8px 1px !important;
                    overflow: hidden;
                }
            }

            .ag-root {
                border: none !important;
            }

            .ag-header {
                background: #FAFAFA !important;
                border-color: #dedede !important;
            }

            .ag-header-row {
                border-color: #dedede !important;
            }

            .ag-tool-panel {
                border-right: 0 !important;
                border-top: 0 !important;
                border-bottom: 0 !important;
                border-left: solid 1px #dedede;
            }

            .ag-side-buttons {
                button {
                    padding: 0 10px;
                    display: inline-flex;
                    align-items: center;
                }
            }

            //margin: 20px 10px 10px;
            .dg-footer {
                border: none !important;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }

}

.crud-page {
    // display: flex;
    // flex-direction: column;
    height: 100vh;
    width: 100% !important;
    position: relative;

    .no-header {

    }

    &-header {
        height: 50px;
        display: flex;
        padding: 0 20px;
        border-left: solid 1px #dedede;
        //background: #ffffff;
        &-left {
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 0 !important;

            > i {
                margin-right: 10px !important;
                color: $primary;
            }

            > h3 {
                font-size: 13px;
                text-transform: uppercase;
                margin-right: 10px;
                font-weight: 500;
                color: $primary;
            }

            .divider {
                height: 100%;
                width: 1px;
                background: #dedede;
                margin: 0 10px;
            }
        }

        &-right {
            margin-left: auto;
            height: 100%;
            display: flex;
            align-items: center;

            .tool-options {
                display: flex;

                .ivu-btn, a, .ivu-select-selection {
                    margin-right: 10px;
                    height: 30px !important;
                }

            }

            &-inside {
                display: flex;
                flex-direction: row;
                align-items: center;

                .btnLine {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 30px;
                    color: $title-color;
                    border: solid lighten($title-color, 10%) 1px;
                    border-radius: 4px;
                    margin-right: 6px;
                    transition: all 0.2s ease;

                    span {
                        font-family: "Fira Sans", sans-serif;
                        font-size: 12px;
                        font-weight: 500;
                    }

                    i {
                        font-size: 15px;
                        font-weight: 500;
                    }
                }

                .btnLine:hover {
                    border-radius: 4px;
                    border: solid $title-color 1px;
                    color: $title-color;
                    cursor: pointer;
                }

                .right-search {
                    position: relative;
                    margin-left: 10px;

                    input.right-search-input {
                        width: 150px;
                        //margin: 0 10px 0 0;
                        border: none;
                        background: none;
                        padding: 5px 5px 5px 24px;
                        color: $title-color;
                        font-family: "Fira Sans Condensed", sans-serif;
                        font-size: 13px;
                        font-weight: 500;
                        border-bottom: 1px solid darken($secondary, 10%);
                        transition: all 0.2s ease;
                    }

                    input.right-search-input:focus {
                        //width: 250px;
                        border-bottom: 1px solid $title-color;
                        outline: none;
                    }

                    input.right-search-input::placeholder {
                        font-family: "Fira Sans Condensed", sans-serif;
                        font-size: 13px;
                        color: darken($secondary, 10%);
                        font-weight: 400;
                    }

                    input.right-search-input:focus + .material-icons {
                        color: $title-color;
                    }

                    > i {
                        position: absolute;
                        left: 0;
                        top: 5px;
                        color: darken($secondary, 10%);
                        font-size: 14px;
                    }
                }
            }
        }
    }

    &-body {
        overflow: hidden;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        height: calc(100% - 50px);

        .v-nav {
            margin-right: 20px;

            .card {
                background: #ffffff;
                margin-top: 0;
                padding: 0;
                margin-bottom: 20px;
                padding-bottom: 10px;
                margin-right: 0 !important;
                box-shadow: rgba(221, 221, 221, 0.7) 0px 0px 8px 1px;
                border-radius: 4px !important;
                width: 250px;
                overflow: hidden;

                &-header {
                    background-color: rgb(250, 250, 250);
                    height: 33px;
                    -webkit-box-align: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-weight: normal;
                    display: flex;
                    font-size: 12px;
                    flex-direction: row;
                    -webkit-box-pack: justify;
                    justify-content: space-between;
                    padding: 0px 20px;
                    border-bottom: 1px solid rgb(238, 238, 238);
                    margin-bottom: 10px;
                }

                &-body {
                    list-style: none !important;
                    padding: 0;
                    margin: 0;
                    overflow-y: auto;
                    li {
                        padding: 0;
                        margin: 0;
                        display: list-item;
                        text-align: -webkit-match-parent;

                        &.divider {
                            height: 1px;
                            background: #f3f4f5;
                            margin: 5px 10px;
                            width: calc(100% - 20px);
                        }

                        a {
                            font-size: 13px;
                            display: flex;
                            align-items: center;
                            color: rgb(68, 68, 68);;
                            padding: 8px 20px;

                            i {
                                font-size: 13px !important;
                                margin-right: 14px;
                            }

                            &:hover {
                                background: #fafafa;
                            }

                            &.active {
                                color: $primary;
                            }
                        }
                    }

                }
            }
        }
    }
}
