$primary: #007AE5;
$text-color: lighten($primary, 40%);
$anchor-height: 52px;
.sidebar {
    width: 60px;
    background: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 60px;
        img {
            width: 35px;
            height: auto;
        }
    }
    nav {
        height: auto;
        width: 100%;
        display: flex;
        padding-top: 10px; // align-items: center;
        ul {
            display: block;
            width: 100%;
            li {
                display: block;
                padding: 8px 0;
                a {
                    display: block;
                    text-align: center;
                    padding: 8px 0;
                    border-left: solid 2px transparent;
                    i {
                        color: $text-color;
                        font-size: 22px;
                        &:before {
                            line-height: inherit;
                        }
                    }
                    span:not(.ivu-badge) {
                        display: none;
                    }
                    [class^="ti-"],
                    [class*=" ti-"] {
                        font-size: 19px !important;
                    }
                    &:hover {
                        i {
                            color: #ffffff;
                        }
                    }
                    &.active {
                        border-left: solid 2px lighten($primary, 60%);
                        i {
                            color: #ffffff;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    .sidebar-tools {
        border-top: solid 1px lighten($primary, 10%);
        margin-top: 20px;
    }

    .aside-bottom {
        display: block;
        margin-top: auto;
        ul {
            display: block;
            width: 100%;
            li {
                display: block;
                a {
                    display: block;
                    text-align: center;
                    padding: 16px 0;
                    border-top: solid 1px darken($primary, 3%);
                    cursor: pointer;
                    &.active,
                    &:hover {
                        i {
                            color: #ffffff;
                        }
                    }
                    i {
                        color: $text-color;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    &.with-text {
        width: 90px;
        nav {
            ul {
                li {
                    padding: 0 0 1px 0;
                    a {
                        position: relative;
                        text-align: center;
                        overflow-y: hidden;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 14px 0;
                        color: $primary;
                        transition: all .3s;
                        i {
                            color: $text-color;
                            display: block;
                            font-size: 22px;
                            margin-bottom: 6px;
                            transition: all .3s;
                        }
                        span:not(.ivu-badge) {
                            color: $text-color;
                            font-size: 11px;
                            font-weight: 500;
                            line-height: 12px;
                            padding-left: 5px;
                            padding-right: 5px;
                            display: block;
                            transition: all .3s;
                        }

                        .ivu-badge {
                            position: absolute;
                            top: 3px;
                            right: 10px;
                        }

                        &:hover {
                            background: lighten($primary, 5%);
                            i {
                                color: #ffffff;
                            }
                        }
                        &.active {
                            background: lighten($primary, 5%);
                            span, i {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }

    &.wide {
        width: 200px;
        nav {
            ul {
                li {
                    padding: 0 0 1px 0;
                    &.divider {
                        height: 1px;
                        background: lighten($primary, 5%);
                        margin-top: 10px;
                    }
                    &.sub-title {
                        font-size: 10px;
                        color: lighten($primary, 40%);
                        margin-top: 10px;
                        span {
                            padding-left: 10px;
                        }
                    }
                    a {
                        position: relative;
                        overflow-y: hidden;
                        display: flex;
                        padding: 8px 15px;
                        color: $primary;
                        transition: all .3s;
                        align-items: center;
                        border-left: 0;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        width: 190px;
                        margin: 5px 10px 0 0;
                        i {
                            color: $text-color;
                            display: block;
                            font-size: 22px;
                            transition: all .3s;
                            margin-right: 6px;
                        }
                        span:not(.ivu-badge) {
                            color: $text-color;
                            font-size: 11px;
                            //font-weight: 500;
                            line-height: 12px;
                            padding-left: 5px;
                            padding-right: 5px;
                            display: block;
                            transition: all .3s;
                        }

                        .ivu-badge {
                            position: absolute;
                            top: 3px;
                            right: 10px;
                        }

                        &:hover {
                            background: lighten($primary, 20%);

                            i {
                                color: #ffffff;
                            }
                        }
                        &.active {
                            background: lighten($primary, 5%);
                            span, i {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }

    &.hover {
        width: 70px !important;
        nav {
            ul {
                li {
                    padding: 0 0 1px 0;
                    a {
                        position: relative;
                        display: block;
                        text-align: center;
                        height: $anchor-height;
                        overflow-y: hidden;
                        padding: 0;
                        // border-left: 0;
                        i {
                            color: $text-color;
                            display: inline-block;
                            line-height: $anchor-height;
                            height: $anchor-height;
                            width: 100%;
                            font-size: 22px;
                            -webkit-transition: margin-top 0.2s;
                            transition: margin-top 0.2s;
                            margin: 0;
                        }
                        .ivu-badge {
                            position: absolute;
                            top: 3px;
                            right: 10px;
                        }
                        span:not(.ivu-badge) {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $text-color;
                            height: $anchor-height;
                            font-size: 11px;
                            font-weight: 500;
                            line-height: 12px;
                            padding-left: 5px;
                            padding-right: 5px;
                        }
                        &:hover {
                            background: lighten($primary, 5%);
                            i {
                                color: #ffffff;
                                margin-top: -$anchor-height;
                            }
                        }
                        &.active {
                            background: lighten($primary, 5%);
                            // border-left: 0;
                            i {
                                margin-top: -$anchor-height;
                            }
                            span {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }

    &.off-canvas-nav {
        min-width: 0;
        width: 240px;
        max-width: 240px;
        background: #151A26;
        transition: margin-left 250ms ease-out, transform 250ms ease-out;
        &.is-collapsed {
            margin-left: -240px;
            .nav-toggle {
                margin-right: -100px;
            }
        }
        .sidebar-header {
            display: flex;
            //border-bottom: solid 1px lighten(#151A26, 10%);
            .logo {
                display: inline-flex;
                flex: 1;
                justify-content: flex-start;
                padding-left: 10px;
                > div {
                    padding-left: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    color: #ffffff;
                    justify-content: center;
                    h3 {
                        font-size: 12px;
                        font-weight: 500;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
            .nav-toggle {
                margin-left: auto;
                color: rgba(#ffffff, .7);
                height: 60px;
                display: inline-flex;
                align-items: center;
                margin-right: 20px;
                cursor: pointer;
                i {
                    font-size: 20px;
                }
                &:hover {
                    color: $primary;
                }
            }
        }

        nav {
            ul {
                width: 100%;
                li {
                    padding: 0 0 1px 0;
                    &.divider {
                        height: 1px;
                        background: lighten(#151A26, 10%);
                        margin-top: 10px;
                    }
                    &.sub-title {
                        font-size: 13px;
                        color: lighten($primary, 40%);
                        margin-top: 10px;
                        span {
                            padding-left: 10px;
                        }
                    }
                    a {
                        position: relative;
                        overflow-y: hidden;
                        display: flex;
                        padding: 6px 15px;
                        color: $primary;
                        transition: all .3s;
                        align-items: center;
                        border-left: 0;
                        width: 100%;
                        margin: 5px 5px 0 0;
                        i {
                            color: $text-color;
                            display: block;
                            font-size: 20px;
                            transition: all .3s;
                            margin-right: 6px;
                        }
                        span:not(.ivu-badge) {
                            color: $text-color;
                            font-size: 14px;
                            line-height: 14px;
                            padding-left: 5px;
                            padding-right: 5px;
                            display: block;
                            transition: all .3s;
                        }

                        &:hover {
                            background: lighten(#151A26, 10%);

                            i {
                                color: #ffffff;
                            }
                        }
                        &.active {
                            background: lighten(#151A26, 15%);
                            span, i {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }

        .sibebar-tools {
            margin-top: 5px;
            padding-top: 20px;
            .sidebar-widget {
                border-top: solid 1px lighten(#151A26, 10%);
                h3 {
                    margin: 15px 15px 8px;
                    color: lighten(#151A26, 30%);
                    font-weight: 500;
                    font-size: 12px;
                }
                &-body {
                    padding: 0 25px;
                    ul {
                        list-style: none;
                        li {
                            a {
                                color: $text-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
