.dg-body .dg-table.custom-table {
    display: flex;
    flex-direction: column;
    position: relative;

    &.template-2 {
        .custom-header {
            tr {
                td {
                    border-bottom: 0;
                }
            }
        }
    }

    .custom-header {
        border-collapse: collapse;
        border: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        margin-top: -1px;
        tr {
            background: #fafafa;

            td {
                font-size: 12px;
                color: #545454;
                text-align: center;
                vertical-align: center;
                padding: 3px 0;
                border-color: rgba(189, 195, 199, 0.46);

                &:first-child {
                    border-left: 0;
                }

                &:last-child {
                    border-right: 0;
                }

                > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    > div {
                        width: 100%;
                        font-size: 12px;
                        text-align: center;
                    }
                }
                .vertical-column{
                    > div {
                        transform: rotate(-90deg);
                    }
                }
            }
        }

    }

    .ag-table {
        margin-top: auto;
        flex: 1;
        overflow: hidden;
        position: relative;

        .ag-root-wrapper.ag-layout-normal{
            height: 100% !important;
        }

        .ag-side-bar {
            display: none;
        }

        .ag-body-horizontal-scroll {
            display: none !important;
        }

        //.ag-root-wrapper {
        //    position: inherit;
        //    height: calc(100% - 78px);
        //    //> .ag-theme-balham {
        //    //    flex: 0;
        //    //}
        //
        //    //.ag-layout-normal {
        //    //    .ag-body-viewport {
        //    //        overflow-x: hidden;
        //    //    }
        //    //}
        //}

        .ag-body-viewport .ag-cell-no-focus {
            border: 0;
            border-right: solid 1px rgba(189, 195, 199, 0.46) !important;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 6px;
            padding-bottom: 6px;
            white-space: normal;
            //overflow: visible;
            overflow-wrap: break-word;
            font-size: 11px !important;
            line-height: 12px !important;
            height: auto !important;
            position: relative !important;
            left: 0 !important;
            color: #444444;

            &:last-child {
                border-right: 0 !important;
            }

            .ivu-tooltip-popper {
                z-index: 1000;
            }
        }

        .ag-body-viewport .no-border.ag-cell:focus {
            border-right: solid 1px rgba(189, 195, 199, 0.46) !important;
            background: #f3f4f5;
        }

        .ag-body-viewport {
            overflow-x: hidden;
            //.ag-pinned-left-cols-container, .ag-pinned-right-cols-container {
            //    display: none !important;
            //    height: 0 !important;
            //    width: 0 !important;
            //    position: fixed !important;
            //    left: -10000px !important;
            //    top: -10000px !important;
            //}

            .ag-center-cols-viewport {
                overflow-x: hidden !important;
                height: 100% !important;
                //border: solid 1px red;

                .ag-center-cols-container {
                    overflow-x: hidden;
                    overflow-y: auto;
                    //border: solid 1px blue;
                }
            }
        }
    }

    .ag-header-cell {
        border-right: solid 1px rgba(189, 195, 199, 0.46);
        //border-bottom: solid 1px #BDC3C7;
        background: #ffffff;
        padding-left: 2px;
        padding-right: 2px;

        &:after {
            display: none;
        }

        &:last-child {
            border-right: none;
        }
    }

    //.ag-row {
    //    //border-color: #BDC3C7 !important;
    //    position: relative !important;
    //    transform: translateY(0px) !important;
    //    display: flex !important;
    //}

    .ag-body-viewport {
        width: 100%;
        overflow-x: hidden !important;

        .ag-cell {
            border-right: solid 1px rgba(189, 195, 199, 0.46) !important;
            line-height: 12px;
            padding-left: 3px;
            padding-right: 3px;
        }
    }

    //.ag-font-style {
    //    user-select: text;
    //}

    .ag-floating-bottom {
        background: #f3f4f5;
    }
    .custom-header-table{
        //.ag-header-viewport{
        //    display: none;
        //}
    }

}

.dg-html {
    width: 100%;
}
