.paper-theme{
    .sidebar.wide nav ul li a span:not(.ivu-badge) {
        color: #5e6366!important;
    }
    .sidebar {
        background: #fff !important;
        width: 106px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sidebar .logo {
        display: flex;
        justify-content: center;
    }
    .sidebar-header {
        padding: 3px 0 !important;
    }
    .sidebar nav {
        display: flex;
        height: auto;
        padding-top: 10px;
        width: 100%;
    }
    .sidebar nav {
        overflow-y: auto!important;
    }
    .sidebar nav ul {
        display: block;
        width: 100%;
    }
    .sidebar.wide nav ul li {
        padding: 0 0 1px;
    }
    .sidebar nav ul li, .sidebar nav ul li a {
        display: block;
        padding: 8px 0;
    }
    .sidebar nav ul li, .sidebar nav ul li router-link {
        display: block;
        padding: 8px 0;
    }
    .system-title {
        color: #5e6366;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 15px;
        margin-top: 5px;
        text-align: center;
    }
    .sidebar.wide nav ul li a.active {
        background: #08f;
    }
    .sidebar.wide nav ul li router-link .active {
        background: #08f;
    }
    .sidebar.wide nav ul li a.active {
        background: #fff!important;
        border: none;
        border-radius: 15px;
        color: #fff!important;
    }
    .sidebar.wide nav ul li router-link .active {
        background: #fff!important;
        border: none;
        border-radius: 15px;
        color: #FFFFFF!important;
    }
    .sidebar.wide nav ul li a.active, .sidebar.wide nav ul li a:hover {
        background: #f2f2f2!important;
    }
    .sidebar.wide nav ul li router-link .active, .sidebar.wide nav ul li router-link:hover {
        background: #f2f2f2!important;
    }
    .sidebar.wide nav ul li a {
        color: #007ae5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: hidden;
        padding: 14px 0;
        position: relative;
        text-align: center;
        transition: all .3s;
    }
    .sidebar.wide nav ul li router-link {
        color: #007ae5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: hidden;
        padding: 14px 0;
        position: relative;
        text-align: center;
        transition: all .3s;
    }
    .sidebar nav ul li a.active {
        border-left: 2px solid #fff;
    }
    .sidebar nav ul li router-link.active {
        border-left: 2px solid #fff;
    }
    .sidebar.wide nav ul li a {
        padding: 10px 0!important;
    }
    .sidebar.wide nav ul li router-link {
        padding: 10px 0!important;
    }
    .sidebar.wide nav ul li a {
        background: #fff!important;
        border: 1px solid #fff;
        border-radius: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .sidebar.wide nav ul li router-link {
        background: #fff!important;
        border: 1px solid #fff;
        border-radius: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .sidebar nav ul li a {
        border-left: 2px solid transparent;
        text-align: center;
    }
    .sidebar nav ul li router-link {
        border-left: 2px solid transparent;
        text-align: center;
    }
    .sidebar nav ul li, .sidebar nav ul li a {
        display: block;
        padding: 8px 0;
    }
    .sidebar nav ul li, .sidebar nav ul li router-link {
        display: block;
        padding: 8px 0;
    }
    .paper-side-bar{
        a {
            color: #2d8cf0;
            background: 0 0;
            text-decoration: none;
            outline: 0;
            cursor: pointer;
            -webkit-transition: color .2s ease;
            transition: color .2s ease;
        }
        router-link {
            color: #2d8cf0;
            background: 0 0;
            text-decoration: none;
            outline: 0;
            cursor: pointer;
            -webkit-transition: color .2s ease;
            transition: color .2s ease;
        }
    }

    .sidebar.wide nav ul li a.active i, .sidebar.wide nav ul li a.active span {
        color: #fff;
    }
    .sidebar.wide nav ul li router-link.active i, .sidebar.wide nav ul li router-link.active span {
        color: #fff;
    }
    .sidebar.wide nav ul li a.active i, .sidebar.wide nav ul li a.active span {
        color: #2d8cf0!important;
    }
    .sidebar.wide nav ul li router-link.active i, .sidebar.wide nav ul li router-link.active span {
        color: #2d8cf0!important;
    }
    .sidebar.wide nav ul li a i {
        color: #b2dbff;
        display: block;
        font-size: 22px;
        margin-bottom: 6px;
        transition: all .3s;
    }
    .sidebar.wide nav ul li router-link i {
        color: #b2dbff;
        display: block;
        font-size: 22px;
        margin-bottom: 6px;
        transition: all .3s;
    }
    .sidebar nav ul li a.active i {
        color: #fff;
        font-weight: 500;
    }
    .sidebar nav ul li router-link.active i {
        color: #fff;
        font-weight: 500;
    }
    .sidebar.wide nav ul li a i {
        color: #5e6366!important;
        font-weight: 500!important;
    }
    .sidebar.wide nav ul li router-link i {
        color: #5e6366!important;
        font-weight: 500!important;
    }
    .sidebar nav ul li a i {
        color: #b2dbff;
        font-size: 22px;
    }
    .sidebar nav ul li router-link i {
        color: #b2dbff;
        font-size: 22px;
    }
    .sidebar nav ul li a i:before {
        line-height: inherit;
    }
    .sidebar nav ul li router-link i:before {
        line-height: inherit;
    }
    //.ti-home:before {
    //    content: "\f119";
    //}
    .sidebar .aside-bottom {
        display: block;
        margin-top: auto;
    }
    .sidebar .aside-bottom ul li a i {
        color: #b2dbff;
        font-size: 20px;
    }
    .sidebar .aside-bottom ul li router-link i {
        color: #b2dbff;
        font-size: 20px;
    }
    .sidebar .aside-bottom ul li a i {
        color: #5e6366!important;
        font-size: 20px;
        padding: 0 0 0 15px;
    }
    .sidebar .aside-bottom ul li a i:hover, :active {
        color: #5e6366!important;
        font-size: 20px;
        padding: 0 0 0 15px;
    }
    .sidebar .aside-bottom ul li router-link i {
        color: #5e6366!important;
        font-size: 20px;
    }
    .sidebar.wide nav ul li a {
        position: relative;
        overflow-y: hidden;
        display: flex;
        padding: 8px 15px;
        color: #2d8cf0;
        transition: all 0.3s;
        align-items: center;
        border-left: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 80px !important;
        margin: 5px 10px 0 8px;
    }
    .sidebar.wide nav ul li a i {
        margin-right: 0;
    }
    .sidebar nav ul li a.active::before {
        background: #2d8cf0;
    }
    .sidebar .aside-bottom ul li a {
        text-align: left !important;
        padding-left: 20px !important;
        border-top: solid 1px #fff !important;
    }
    .system-title {
        color: #5e6366;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        margin: 5px 5px 15px 5px;
    }

    .sidebar .logo {
        align-items: center;
        height: 60px;
        text-align: center;
    }
    .sidebar, .sidebar .logo {
        display: flex;
        justify-content: center;
    }
    .sidebar .logo {
        border-radius: 10px;
        box-shadow: 0 1px 2px rgba(0,0,0,.3)!important;
        height: 70px;
        margin-left: 16px;
        margin-top: 10px;
        padding: 10px;
        width: 70px;
    }
    .sidebar .logo {
        overflow: hidden!important;
    }
    .sidebar .logo img {
        margin-right: 0 !important;
        height: 55px !important;
        width: 55px!important;
    }
    img {
        border-style: none;
    }
}
.crud-page-body .v-nav .card-body li a.active {
    color: #0288D1 !important;
    background-color: #fafafa;
}

