@import "./../../../../../../template/tuushin/assets/scss/variables";

$primary: #1E7DF0;
$secondary: #B0BEC5;
$card-title-color: #7b929e;
$page-title-color: #455f74;
$header-bg: #e8ebed;
$background-main: #F0F5F9;
$orange: #FBAB00;
//$background-main: #F3F5F8;
$card-shadow: 0px 4px 15px 0px rgba(160,193,214,0.6);

body {
  background: #E4EAEE;
  font-family: 'Fira Sans', "Fira Sans Condensed", sans-serif;
}

#wizard {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  .wizard-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin: 20px 0 0 0;
    height: 80px;
    width: 860px;
    z-index: 2;
    &-main {
      position: absolute;
      left: 0;
      bottom: 10px;
      font-size: 24px;
      font-family: "Fira Sans", sans-serif; //text-transform: uppercase;
      font-weight: 600; //color: #7b929e;
      color: $primary;
    }
    &-step {
      position: absolute;
      bottom: 0;
      right: 52px;
      font-size: 82px;
      font-weight: 900;
      font-family: "Fira Sans", sans-serif;
      line-height: 55px;
      color: rgba($secondary, .3);
      span {
        position: absolute;
        right: -52px;
        bottom: 0;
      }
    }
  }
  form {
    //margin-top: 0 !important;
    z-index: 3;
    .wizard {
      z-index: 4;
      display: flex;
      width: 860px;
      height: 480px;
      margin: 0 auto;
      -webkit-box-shadow: 0px 7px 23px 2px rgba(2, 94, 122, 0.23);
      -moz-box-shadow: 0px 7px 23px 2px rgba(2, 94, 122, 0.23);
      box-shadow: 0px 7px 23px 2px rgba(2, 94, 122, 0.23);
      border-radius: 3px;
      background: #ffffff;
      .info-form {
        display: flex;
        flex-direction: column;
        .sub-heading {
          display: flex;
          flex-direction: column;
          min-height: 75px !important;
          max-height: 75px !important;
          height: 75px;
          &-content {
            color: $card-title-color;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0 0 20px;
            &-left {
              display: flex;
              flex-direction: row;
              i {
                padding: 12px 0;
              }
              h4 {
                font-weight: 600;
                font-size: 14px;
                padding: 15px 10px;
                color: $card-title-color;
                text-transform: uppercase;
              }
            }
            &-right {
              display: flex;
              flex-direction: row;
              padding-right: 20px;
              span {
                padding: 16px 0 14px 10px;
              }
              h4 {
                font-weight: 600;
                font-size: 14px;
                padding: 15px 20px 15px 8px;
                color: $primary;
                text-transform: uppercase;
              }
            }
          }
          &-border {
            height: 4px;
            border-bottom: #d7dfe6 solid 1px;
            .border-line-personal {
              border-top: rgba($primary, .8) solid 4px;
              width: 154px;
              float: left;
              margin-top: -1px;
              margin-left: 22px;
            }
            .border-line-contact {
              border-top: rgba($primary, .5) solid 4px;
              width: 200px;
              float: left;
              margin-top: -1px;
              margin-left: 20px;
            }
            .border-line-password {
              border-top: rgba($primary, .5) solid 4px;
              width: 150px;
              float: left;
              margin-top: -1px;
              margin-left: 22px;
            }
          }
        }
        .info-step-main {
          padding: 25px 40px 5px 40px;
          height: 345px;
          min-height: 345px;
          max-height: 345px;
          .register_number {
            margin-bottom: 0 !important;
          }
          .ivu-form-item {
            margin-bottom: 20px;
          }
          .ivu-form-item-label {
            font-weight: 500;
            text-transform: uppercase;
            color: $card-title-color;
          }
          label.ivu-form-item-label {
            padding: 0 0 5px 0 !important;
          }
          .user-info-text {
            color: $secondary;
            font-size: 11px;
            font-style: italic;
            line-height: 12px;
            margin-left: 10px;
            display: inline-block;
          }
          .ivu-form-item-error-tip {
            font-size: 11px;
            font-style: italic;
            padding-top: 0 !important;
            top: 82% !important;
          }
          .ivu-upload-select {
            width: 100%;
          }
          .upload-avatar {
            width: 100%;
            background: #F6F9FB;
            border-width: 1px;
            border-style: dashed;
            color: $secondary;
          }
          .upload-avatar:hover {
            color: rgba($primary, .7);
          }
          .birthday-gender {
            margin-bottom: 10px;
          }
          .birthday,
          .gender {
            .ivu-form-item-content {
              .ivu-form-item-error-tip {
                padding-top: 10px !important;
              }
            }
          }
        }
        .step-buttons {
          width: 560px !important;
          height: 60px !important;
          min-height: 60px !important;
          max-height: 60px !important;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          padding: 4px 40px 25px 40px;
          transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
          a {
            padding: 2px 10px 2px 20px;
            background: $primary;
            border-radius: 24px;
            color: #ffffff;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 13px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            i {
              margin-left: 10px;
              font-weight: 600;
            }
            &:last-child {
              margin-left: auto;
            }
            &:hover {
              background: darken($primary, 5%);
              box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, .2);
            }
          }
          #prev {
            background: #E7EBEE;
            padding: 2px 20px 2px 0;
            color: $card-title-color;
            margin-right: 20px;
            i {
              margin-right: 10px;
              font-weight: 600;
            }
          }
          #prev.disabled {
            display: none;
          }
        }
      }
      .info-step {
        display: flex;
        padding: 0 0 20px 0;
        width: 300px;
        height: 480px;
        flex-direction: column;
        justify-content: center;
        box-shadow: -5px 7px 23px 2px rgba(2, 94, 122, 0.23);
        &-top {
          width: 340px;
          height: 76px;
          position: relative;
          padding-top: 30px;
          .ivu-steps {
            .ivu-steps-tail {
              i {
                background: $secondary;
                height: 2px;
              }
            }
          }
          .ivu-steps {
            .ivu-steps-head-inner {
              border: 2px solid $secondary;
            }
          }
          .ivu-steps.ivu-steps-horizontal {
            position: absolute;
            right: -20px;
            display: flex;
            justify-content: center;
            .ivu-steps-item.ivu-steps-status-process {
              .ivu-steps-tail {
                i {
                  background-color: $secondary;
                }
              }
              .ivu-steps-head {
                .ivu-steps-head-inner {
                  font-size: 16px;
                  height: 30px;
                  width: 30px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-weight: 600;
                  border-color: $primary;
                  background-color: #ffffff;
                  span {
                    color: $primary;
                  }
                }
              }
            }
            .ivu-steps-item.ivu-steps-status-wait {
              .ivu-steps-head {
                .ivu-steps-head-inner {
                  font-size: 16px;
                  height: 30px;
                  width: 30px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-weight: 600;
                  span {
                    color: $secondary;
                  }
                }
              }
            }
            .ivu-steps-item.ivu-steps-status-finish {
              .ivu-steps-head {
                .ivu-steps-head-inner {
                  border-color: $primary;
                  font-size: 16px;
                  height: 30px;
                  width: 30px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-weight: 600;
                  background: $primary;
                  span {
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
        &-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-top: #d7dfe6 solid 1px;
          height: 330px;
          padding: 0 20px 0 20px;
          i {
            font-size: 64px;
            line-height: 64px;
            color: $primary;
          }
          p {
            font-weight: 600;
            font-size: 14px;
            padding: 0 10px 15px 10px;
            color: $card-title-color;
            text-transform: uppercase;
          }
          span {
            font-size: 14px;
            padding: 0 40px;
            text-align: center;
            line-height: 16px;
            color: $card-title-color;
          }
        }
        &-bottom {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 74px !important;
          color: $secondary;
          padding-bottom: 10px;
          p {
            padding: 0 40px;
            text-align: center;
            line-height: 14px;
            i {}
          }
          a {
            font-size: 13px;
          }
        }
      }
      .summary {
        display: flex;
        flex-direction: column;
        width: 860px;
        height: 480px;
        text-align: center;
        align-items: center;
        position: relative;
        a.back {
          position: absolute;
          top: 30px;
          left: 40px;
          color: $primary;
          display: flex;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 500;
          &:hover {
            color: darken($primary, 5%);
            span {
              text-decoration: underline;
            }
          }
          i {
            font-size: 24px;
            margin-right: 6px;
          }
          span {
            margin-top: 4px;
          }
        }
        .summary-content {
          text-align: center;
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 100%;
          justify-content: center;
          &-title {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            color: $card-title-color;
            padding: 0;
            p {
              font-weight: 400;
              font-size: 12px;
              text-transform: none;
            }
          }
          .user-avatar {
            text-align: center !important;
            .user-avatar-img {
              width: 96px;
              height: 96px;
              border-radius: 50%;
              margin-top: 16px;
              border: 3px solid rgba($secondary, .5);
              display: inline-block;
            }
          }
          .user-content {
            display: flex;
            flex-direction: row;
            width: 510px;
            .user-content-list-left {
              width: 240px;
              margin: 0 30px 0 0;
              padding: 0;
              list-style: none;
              li {
                min-height: 48px;
                padding: 6px 4px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                border-bottom: 1px solid rgba(0, 0, 0, .12);
                position: relative;
                display: flex;
                flex-direction: row;
                >.user-content-list-icon {
                  position: absolute;
                  left: 0;
                  width: 36px;
                  text-align: left;
                  top: 0;
                  i {
                    color: $secondary;
                  }
                }
                >.user-content-list-content {
                  margin-left: 36px;
                  overflow: hidden;
                  display: block;
                  text-align: left;
                  >span.user-content-list-heading {
                    margin: 0;
                    font-size: 12px;
                    font-weight: 400;
                    display: block;
                    overflow: hidden;
                    padding-bottom: 1px;
                    color: $card-title-color;
                  }
                  >span.user-content-list-data {
                    display: block;
                    font-weight: 600;
                    line-height: 16px;
                    color: $card-title-color;
                  }
                }
              }
              li:last-child {
                border-bottom: none;
              }
            }
            .user-content-list-right {
              padding: 0;
              list-style: none;
              margin: 0;
              width: 240px;
              li {
                min-height: 48px;
                padding: 6px 4px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                border-bottom: 1px solid rgba(0, 0, 0, .12);
                position: relative;
                display: flex;
                flex-direction: row;
                >.user-content-list-icon {
                  position: absolute;
                  left: 0;
                  width: 36px;
                  text-align: left;
                  top: 0;
                  i {
                    color: $secondary;
                  }
                }
                >.user-content-list-content {
                  margin-left: 36px;
                  overflow: hidden;
                  display: block;
                  text-align: left;
                  >span.user-content-list-heading {
                    margin: 0;
                    font-size: 12px;
                    font-weight: 400;
                    display: block;
                    overflow: hidden;
                    padding-bottom: 1px;
                    color: $card-title-color;
                  }
                  >span.user-content-list-data {
                    display: block;
                    font-weight: 600;
                    line-height: 16px;
                    color: $card-title-color;
                  }
                }
              }
              li:last-child {
                border-bottom: none;
              }
            }
          }
          a.submit {
            padding: 8px 30px;
            background: #2ecc71;
            border-radius: 30px;
            color: #ffffff;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 11px;
          }
        }
        .profile-submit {
          margin-top: 20px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }
  }
  .footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    z-index: 901;
    text-align: right;
    height: 30px;
    font-size: 12px;
    >span {
      margin: 0 5px;
      color: $card-title-color;
    }
  }
}
