$color-primary: #be0d52;
$color-danger: #e74c3c;
$color-success: #2ecc71;

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* BODY */

body {
    position: relative;
    color: #666;
    font: 16px/26px "Roboto", sans-serif !important;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

@media only screen and (min-width: 308px) {
}

.login {
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center top;
    z-index: 1;

    .content {
        flex: 1;
        display: flex;
        position: relative;
        height: 100vh;
        width: 60%;
        @media (max-width: 768px) {
            width: 0%;
        }

        .slider {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #4b6584;
            height: 100vh;
            z-index: 1;

            .layer {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(#be0d52, .25);
            }

            .ivu-carousel {
                height: 100vh;
                width: 100%;

                .ivu-carousel-list {
                    height: 100vh;
                }

                .ivu-carousel-track {
                    height: 100vh;
                }

                .ivu-carousel-item {
                    height: 100vh !important;
                }
            }

            .ivu-carousel-dots {
                bottom: 50px !important;
                text-align: left;
                padding-left: 60px;

                li button {
                    background-color: #ffffff !important;
                    height: 6px;
                    border-radius: 5px;
                }

                li.ivu-carousel-active > button {
                    width: 36px !important;
                }
            }

            .ivu-carousel-active > button {
                background-color: $color-primary !important;
            }

            .bg-cover {
                height: 100%;
                width: 100%;
                background-position: center;
                background-size: cover;
            }
        }

        .header {
            z-index: 2;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 60px 60px 0;
            height: 100px;

            .logo {
                flex: 1;
                display: flex;
                justify-content: flex-start;

                img {
                    height: 70px;
                }
            }

            .menu {
                margin-left: auto;
                display: flex;

                li {
                    display: inline;
                    margin: 0 10px;

                    a {
                        color: #ffffff;
                        text-decoration: none;
                        cursor: pointer;
                        font-weight: 500;
                        text-transform: uppercase;
                        font-size: 12px;
                    }
                }
            }
        }

        .footer {
            z-index: 2;
            position: absolute;
            bottom: 40px;
            right: 60px;
            display: flex;
            flex-direction: column;

            h3 {
                color: #fff;
                font-size: 15px;
                font-weight: 500;
                text-align: left;
                padding: 0 0 10px 10px;
            }
        }
    }

    .auth {
        box-shadow: -2px 0px 5px 1px rgba(#222, 0.1);
        background: #ffffff;
        position: relative;
        z-index: 0;
        width: 40%;
        height: 100vh;
        overflow: auto;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        @media (max-width: 768px) {
            width: 100%;
            .form-wrap {
                width: 100%;
            }
        }

        .logo {
            width: 100%;
            text-align: left;
            height: 100px;

            img {
                height: 60px;
            }

            &.with-text {
                display: flex;
                width: 100%;
                align-items: center;

                img {
                    height: 60px;
                    width: auto !important;
                    margin-right: 20px;
                }

                span {
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 20px;
                    text-transform: uppercase;
                    max-width: 220px;
                }
            }
        }
    }
}

.form-wrap {
    width: 70%;

    .form-content {
        padding: 0 3em;
        text-align: left;
        width: auto;

        h2 {
            font-size: 22px;
            margin: 0 0 5px;
            padding: 0 0 0 10px;
            color: $color-primary;
            text-transform: uppercase;
            font-weight: 600;
            border-left: solid 3px $color-primary;
        }

        h5 {
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            margin-bottom: 40px;
        }

        #msg {
            .error {
                color: $color-danger;
            }

            .success {
                color: $color-success;
            }

            font-size: 12px;
            text-align: center;
            margin-top: 20px;
            transition: 0.25s ease-in-out;
        }

        form {
            min-width: 300px !important;

            .input {
                position: relative;
                margin: 0 0 0.8em 0;

                .icon {
                    width: 16px;
                    height: 16px;
                    background: url(../../../images/icon.png) no-repeat -3px -4px;
                    position: absolute;
                    left: 6px;
                    top: 8px;
                    opacity: 0.6;
                    cursor: text;
                    z-index: 10;
                    display: block;
                    transition: 0.25s ease-in-out;

                    &.pass {
                        background: url(../../../images/icon.png) no-repeat -3px -83px;
                    }
                }

                input {
                    padding: 8px 10px 8px 28px;
                    font-size: 14px;
                    width: 100%;
                    display: inline-block;
                    background: transparent;
                    border: 0;
                    border-bottom: 2px solid #c2cfdc;
                    outline: 0;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    font-family: inherit;
                    color: #666666;
                    transition: 0.25s ease-in-out;
                    margin-bottom: 10px;

                    &:disabled {
                        opacity: 0.5;

                        &:hover,
                        &:active,
                        &:focus {
                            border-bottom: 2px solid #c2cfdc;
                        }
                    }

                    &:active,
                    &:focus {
                        border-bottom: 2px solid $color-primary;

                        & + span {
                            opacity: 1;
                        }
                    }

                    &::placeholder {
                        /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: #999999;
                    }
                }
            }

            .button {
                margin: 1em 0;
                height: 40px;
                width: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: $color-primary;
                border: none;
                color: #fff;
                font-size: 16px;
                border-radius: 30px;
                box-shadow: none;
                outline: none;
                font-weight: 300;
                transition: 0.25s ease-in-out;
                position: relative;
                cursor: pointer;

                span.loader {
                    position: absolute;
                    right: 5px;
                }

                &:hover {
                    background-color: darken($color-primary, 5%);
                }
            }

            .action {
                padding: 1.2em 0 0;
                font-size: 0.93em;

                p {
                    float: right;
                    text-align: left;
                    font-size: 13px;
                    margin-top: 25px;

                    a {
                        color: $color-primary;
                        text-decoration: underline;
                        font-size: 14px;

                        &:hover {
                            color: darken($color-primary, 5%);
                            text-decoration: underline;
                        }
                    }
                }
            }

            .checkbox {
                margin: 1em 0;
                padding: 20px 0;
                visibility: hidden;
                text-align: left;

                &:checked + label:after {
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                    filter: alpha(opacity=100);
                    opacity: 1;
                }
            }

            label[for] {
                position: relative;
                padding-top: 2px;
                padding-left: 10px;
                cursor: pointer;
                font-size: 13px;
                border-radius: 2px;

                &:before {
                    position: absolute;
                    width: 17px;
                    height: 17px;
                    top: 0px;
                    left: -14px;
                    content: "";
                    border: 1px solid #5a6374;
                }

                &:after {
                    position: absolute;
                    top: 1px;
                    left: -10px;
                    width: 15px;
                    height: 8px;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                    filter: alpha(opacity=0);
                    opacity: 0;
                    content: "";
                    background-color: transparent;
                    border: solid $color-primary;
                    border-width: 0 0 2px 2px;
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .copyright {
        width: 30vw!important;
        position: absolute;
        bottom: 24px;
        font-size: 12px;
        color: #666666;
        width: 100%;
        text-align: left;
        padding-left: 50px;
    }
}

@media (max-width: 768px) {
    .content {
        display: none !important;
    }

    .auth {
        .logo {
            top: 10px;
            left: 10px;
            width: 40px;
            height: 40px;
            background: none;

            img {
                width: 100%;
            }
        }

        padding-top: 0;
        float: left;
        width: 100%;
        height: 500px;
        border: 0;
    }
}

.d-modal {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;

    .modal-header {
        height: 50px;
        display: flex;
        align-items: center;
        border-bottom: dotted 1px $color-primary;
        padding: 0 0 0 20px;

        .title {
            flex: 1;
            font-size: 18px;
            color: $color-primary;
            text-transform: uppercase;
        }

        .close {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            width: 50px;
            height: 50px;
            cursor: pointer;
            color: $color-primary !important;

            i {
                color: $color-primary !important;
                font-size: 40px;
            }
        }
    }

    .modal-body {
        height: calc(100% - 50px);
        overflow-y: auto;
        padding: 20px 40px;
        position: relative;

        iframe {
            border: 0 !important;
        }

        &.np {
            padding: 0 !important;
        }

        .ivu-collapse {
            border-top: 0;
            border-bottom: 0;

            .ivu-collapse-item {
                .ivu-collapse-header {
                    height: 44px;
                    color: $color-primary;
                    line-height: 44px;
                }

                &:last-child {
                    border-bottom: 0 !important;
                }
            }
        }
    }
}

.mapouter {
    position: relative;
    height: 300px;
    width: 100%;
    background-color: #4b6584;
}

.gmap_canvas {
    overflow: hidden;
    display: block;
    background: none !important;
    height: 300px;
    width: 100%;
    background-color: #4b6584;
}

.contact-info {
    padding: 40px 40px;

    ul {
        list-style: none;

        li {
            display: flex;
            max-width: 500px;
            margin-bottom: 20px;
            justify-content: flex-start;

            i {
                color: $color-primary;
                font-size: 28px;
                margin-right: 20px;
            }

            span {
                font-size: 16px;
                text-align: left;
            }
        }
    }
}

.news-list {
    list-style: none;

    li {
        display: flex;
        margin-bottom: 20px;
        padding-bottom: 20px;
        width: 100%;
        border-bottom: solid 1px #e5e5e5;

        &:last-child {
            border-bottom: 0;
        }

        img {
            width: 100px;
            height: auto;
            border-radius: 5px;
            //   border: solid 1px $color-primary;
            margin-right: 20px;
        }

        .info {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: flex-start;
            align-items: flex-start;

            h3 {
                font-size: 15px;
                font-weight: 500;
                position: relative;
                margin-bottom: 5px;

                &::after {
                    content: " ";
                    position: absolute;
                    width: 20px;
                    left: 0;
                    bottom: 0;
                    display: block;
                    height: 1px;
                    background-color: $color-primary;
                }
            }

            &-sub {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                i {
                    color: $color-primary;
                    margin-right: 5px;
                    font-size: 18px;
                }

                .dt {
                    font-size: 12px;
                }
            }

            a {
                border: solid 1px $color-primary;
                font-size: 12px;
                margin-top: 15px;
                color: $color-primary;
                padding: 3px 15px;
            }
        }
    }
}

.news-detail {
    font-size: 18px;

    h2 {
        position: relative;
        margin-bottom: 20px;
        font-size: 18px;
        display: flex;
        align-items: center;

        &::after {
            content: " ";
            position: absolute;
            width: 20px;
            left: 40px;
            bottom: 0;
            display: block;
            height: 1px;
            background-color: $color-primary;
        }

        a {
            color: $color-primary;
            border: solid 1px $color-primary;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }

    img {
        width: 100%;
        border: solid 1px $color-primary;
        border-radius: 10px;
    }
}

.box-row.app {
    display: flex;
    margin: 0 auto;

    a {
        border: solid 1px #ffffff;
        border-radius: 10px;
        padding: 5px 15px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-transform: uppercase;
        text-decoration: none;
        color: #414752;
        margin: 0px 10px 10px;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        font-size: 14px;
        background: rgba(#fff, 0.3);

        img {
            height: 18px;
            margin-right: 10px;
        }

        &:hover {
            background: rgba(255, 255, 255, 0.6);
            border: solid 1px #414752;
            color: #414752;
        }
    }
}
