$primary: #353b48;
$info: #74b9ff;
$success: #1abc9c;
$danger: #ff7675;
.page-list {
    max-width: 1200px;
    border-right: solid 1px #dedede;
    &-header {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        h3 {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            margin-right: 20px;
        }
        &-search {
            flex: 1;
        }
        &-control {
            margin-left: auto;
        }
    }
    .pz-list {
        height: calc(100% - 50px);
        overflow-y: auto;
        padding: 20px;
        &-item {
            background: #ffffff;
            //border: solid 1px #dedede;
            border-radius: 5px;
            margin-bottom: 20px;
            box-shadow: rgba(221, 221, 221, 0.7) 0 0 8px 1px;
            &-body {
                padding: 10px 0;
                height: 66px;
                h3 {
                    font-weight: 500;
                    border-left: solid 2px #1abc9c;
                    padding-left: 14px;
                    margin-left: -1px;
                }
                small {
                    padding: 5px 15px;
                    color: #888888;
                }
            }
            &-control {
                padding: 10px 15px;
                display: flex;
                align-items: center;
                a {
                    width: 28px;
                    height: 28px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .36s;
                    color: lighten($primary, 20%);
                    background: transparent;
                    border: solid 1px lighten($primary, 40%);
                    border-radius: 50%;
                    &.btn-del {
                        &:hover {
                            border: solid 1px rgba($danger, .9);
                            color: $danger;
                        }
                    }
                    &.btn-edit {
                        &:hover {
                            border: solid 1px rgba($success, .9);
                            color: $success;
                        }
                    }
                    &.btn-preview {
                        border: solid 1px rgba($success, .7);
                        color: $success;
                        &:hover {
                            border: solid 1px $success;
                            color: $success;
                        }
                    }
                }
                span {
                    margin-left: auto;
                }
            }
        }
    }
}
