.dataform {
    background: #ffffff;
    height: 100%;
    position: relative;
    overflow-y: auto;
    &-header {
        padding: 15px 20px;
        border-bottom: solid 1px #f1f3f4;
        background: #E7EBED;
        h3 {
            font-weight: 500;
            font-size: 13px;
            text-transform: uppercase;
        }
    }
    &-body {
        padding: 15px 20px 10px;
        .fieldset {
            padding: 10px 8px;
            margin-bottom: 20px;
            border: 1px solid silver;
            legend {
                margin-top: -20px;
                background-color: white;
                padding: 0 10px;
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 10px;
            }
        }
        .form-divider{
            font-size: 12px;
            color: #515a6e;
            line-height: 1;
            font-weight: 600;
        }
        .ivu-divider-horizontal.ivu-divider-with-text-left:before{
            border-top: 1px solid #dcdee2!important;
        }
        .ivu-divider-horizontal.ivu-divider-with-text-left:after{
            border-top: 1px solid #dcdee2!important;
        }
        .ivu-col {
            padding-right: 5px;
            padding-left: 5px;
        }
        .ivu-tabs {
            padding-bottom: 40px!important;
        }
    }
    &-footer {
        padding: 10px 20px 20px;
    }
    .extra-buttons{
        float: right;
    }
}
