.section-visible-model {
    padding-right: 20px;
    margin-bottom: 100px;

    .ivu-select {
        height: 30px;
        width: 100% !important;
        text-align: left;
    }

    input {
        height: 30px;
        padding-left: 20px;
        width: 100%;
    }
}
