.trigger-wrapper {
    padding: 20px;

    >table {
        td {
            padding: 5px 10px;
            &:first-child {
                width: 150px
            }

            &:last-child {
                width: 350px;
            }

            label {
                font-size: 13px;
            }
        }
    }
}
