@font-face {
    font-family: "Nunito";
    src: url(fontstyle/Nunito-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Nunito";
    src: url(fontstyle/Nunito-Bold.ttf);
    font-weight: bold;
}

.cards_container{
    width: 100%;
    padding: 55px 10px 15px 10px;
    .col-3{margin-bottom: 15px;}
    .cards_per_cont{
        background-color: white;
        width: 100%;
        height: 305px;
        margin: 4px;
        //box-shadow: 0 20px 45px rgb(0 0 0 / 10%);
        border-radius: 30px;
        padding: 20px;
        div, p{margin: 0px !important; padding: 0px;}
        .title_cont, .body_cont, .footer_cont{ width: 100%;}
        .title_cont{
            height: 50px;
            padding-bottom: 8px;
            margin-bottom: 8px;
            border-bottom: 1px solid #e9e9e9;
            text-align: center;
            font-size: 14px  !important;
            font-family: "Nunito", sans-serif !important;
            font-weight: bold;
            color: #0a093d;
        }
        .body_cont{
            height: 160px;
            width: 100%;
            color: #0a093d;
            div{width: 100%;
            }
            .startdate{margin-top: 10px !important;}
            .desctxt{
                margin-top: 10px !important;
                font-size: 14px !important;
                text-align: justify;
                height: 85px;
            }
            .p_ognoo{
                margin-top: 10px !important;
                margin-bottom: 10px !important;
                font-size: 13px;
                text-align: right;
            }
        }
        .footer_cont{
            //position: absolute;
            bottom: 10px;
            width: 100%;
            //margin: 10px auto !important;
            .projectbtn, .descbtn{
                width: 50% !important;
                padding: 5px;
                float: left;
                Button{width: 100% !important}
                .ivu-btn{ font-size: 14px !important; box-shadow: none; padding: 10px; font-family: "Nunito", sans-serif !important;}
            }
            .projectbtn{
                Button{font-weight: bold;}
                //Button:hover{ color: #ff6a6a; background-color: white;} .ivu-btn{border: 1px solid #ff6a6a;}
            }
            .descbtn{

                Button{font-weight: bold; border:1px solid #217bf4; background-color: #217bf4; color: white;}
                Button:hover{  border:1px solid #217bf4; background-color: white; color: #217bf4;}

                //.ivu-btn{border: 1px solid #999999;}
            }
        }
    }
}

//.projectdesccont {
//    .ivu-modal-wrap {
//        .ivu-modal {
//            padding: 5px 20px 5px 20px;
//            width: 950px !important;
//        }
//    }
//}

.delgerengvi{
    .ivu-form{
        .dataform-body{
            .ivu-row{
                .ivu-col{
                    .ivu-col{
                        .ivu-form-item{
                            .form-preview-page.ivu-form-item-label, .ivu-form-item-label{
                                background-color: #cce2ff !important;
                                //border-radius: 15px;
                                //border-top-left-radius: 15px;
                                //border-top-right-radius: 15px;
                            }
                        }
                    }
                }
            }
        }
    }


    .subform-grid table thead tr{
        border-radius: 15px !important;
        background-color:  #cce2ff !important;
    }
    .ivu-input[disabled], .fieldset[disabled].ivu-input{
        background-color: white;
    }


    .ivu-modal-content{
        .ivu-modal-body{
            .form-preview-page{
                .dataform{
                    .ivu-form{
                        .dataform-body{
                            .ivu-input{
                                font-family: Roboto, sans-serif !important;
                                color: #404040 !important;
                                font-size: 12px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    .ivu-col-span-10 {
        display: block;
        width: 78.666667% !important;
    }
}
@media only screen and (min-width: 640px) and (max-width: 768px){
    .ivu-col-span-10 {
        display: block;
        width: 100% !important;
    }
}
@media only screen and (min-width: 375px) and (max-width: 414px){
    .cards_container {
    }
}
