.table-list{
  width: 200px;


  .source-fields{
    margin: 10px;
  }
  .tables{
    
    overflow-y: auto;
    .ivu-collapse-content-box {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .ivu-collapse{
      background: none;
    }
    .ivu-collapse-item {
      border-top: 1px solid #eee;
    }
    .ivu-collapse-item:first-child {
      border-top: 0;
    }
    .ivu-collapse-header{
      padding-left: 5px;
      overflow-x: hidden;
      height: 30px;
      line-height: 30px;
    }
    table{
        font-size: 10px;
    }
  }
}
.column-options{
  position: relative;
  td {
    .selector{
      position: relative;
    }
  }
}